<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
<key>NSCameraUsageDescription</key>
	<string>Camera permission is required for the app to work.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo Library permission is required for the app to work.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
    <string>Please allow access to save photo in your photo library</string>
</dict>
</plist>
